# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# IntelliJ
*.iml
.idea/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/

# Maven
target/

# Gradle
.gradle/
build/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# compiled output
bin/
out/